.fondo{
    background-color: #FF5733 ;
}
.letra{
    color: #FF5733;
}
.letra{
color: black;
}

.tamaño{
    
    height: 40px;
    width: 1000px;
 }

 .ostia{
    flex-direction: column;
}
.letra2{
color: white;
text-align: center;
}